@import "normalize.css/normalize.css";
@import "prism-themes/themes/prism-coldark-cold.css";

:root {
	--bg-color: #0a0e1f;
	--text-color: #f5f9ff;
	--highlight-color: #dbb368;
}

.color-theme-light {
	--bg-color: #f5f9ff;
	--text-color: #0a0e1f;
}

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
	font-family: sans-serif;
}

p {
	line-height: 1.4;
	margin: 1.5em 0;
}

img {
	display: block;
	margin: 0 auto;
	background: #e1e4ea;
	max-width: 100%;
	@media screen and (min-width: 1100px) {
		max-width: 900px;
	}
}

::selection {
	background-color: #9b7735;
}

::-moz-selection {
	background-color: #9b7735;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 1.4em 0;
	a {
		color: inherit;
		text-decoration: none;
	}
}

h1, h2, h3 {
	color: var(--highlight-color);
}

blockquote {
	border-left: 2px solid var(--highlight-color);
	margin: 1.5em 0;
	padding: 0 0 0 .8em;

	p {
		margin: 0;
	}
}

a {
	color: inherit;
	&.current {
		color: var(--highlight-color);
	}

	&.anchor {
		scroll-margin-top: 5em;
		outline: none;
		&::before {
			content: "";
			display: inline-block;
			margin-top: -5em;
			padding-top: 5em;
		}
	}
}

li {
	margin: 0 0 1em;
}

pre {
	padding: 1em;
	margin: 0;
	font-size: 14px;
	color: var(--text-color);
	line-height: 1.4;
	tab-size: 2;
	outline: none;
}

code.inline {
	padding: .1em .2em;
	margin: 0;
	font-size: .9em;
	display: inline;
	background: #281f12;
}

.color-theme-light {
	code.inline {
		background: #ddd;
	}
}


.blur-background {
	@supports (backdrop-filter: blur(3px)) {
		backdrop-filter: blur(3px);
		background-color: rgba(10, 14, 31, 0.5);
	}
}

.main {
	@media screen and (min-width: 800px) {
		margin-top: 3.5rem;
	}
}

.content {
	margin: 0 auto;
	padding: 2rem 0.4rem;
	> :first-child {
		margin-top: 0;
	}

	> :last-child {
		margin-bottom: 0;
	}

	@media screen and (min-width: 800px) {
		margin-left: 240px;
		padding: 2rem 1rem;
		/* max-width: 800px; */
	}

	@media screen and (min-width: 1100px) {
		margin-left: 320px;
		padding: 3rem 2rem;
		/* max-width: 1100px; */
		> * {
			/* max-width: 800px; */
		}
	}

	p {
		max-width: 800px;
	}
}
