@import "normalize.css/normalize.css";
@import "prism-themes/themes/prism-coldark-dark.css";

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #0a0e1f;
	color: #f5f9ff;
	font-family: sans-serif;
}

p {
	line-height: 1.4;
	margin: 1.5em 0;
}

img {
	display: block;
	margin: 0 auto;
	background: #e1e4ea;
	max-width: 100%;
	@media screen and (min-width: 1100px) {
		max-width: 900px;
	}
}

::selection {
	background-color: #9b7735;
}

::-moz-selection {
	background-color: #9b7735;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 1.4em 0;
	a {
		color: inherit;
		text-decoration: none;
	}
}

h1, h2, h3 {
	color: #dbb368;
}

blockquote {
	border-left: 2px solid #dbb368;
	margin: 1.5em 0;
	padding: 0 0 0 .8em;

	p {
		margin: 0;
	}
}

a {
	color: inherit;
	&.current {
		color: #dbb368;
	}

	&.anchor {
		scroll-margin-top: 5em;
		outline: none;
		&::before {
			content: "";
			display: inline-block;
			margin-top: -5em;
			padding-top: 5em;
		}
	}
}

li {
	margin: 0 0 1em;
}

#playground {
	width: 100%;
	height: 100vh;
}

.prism-editor {
	display: block;
	white-space: pre-wrap;
	white-space: break-spaces;
	overflow: hidden scroll;
	word-break: break-all;
	height: 100%;

	pre {
		height: 100%;
	}
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 3.5rem;
	border-bottom: 1px solid #f5f9ff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow-y: auto;
	padding: 0 0.4rem;
	z-index: 5;

	background-color: inherit;

	@supports (backdrop-filter: blur(3px)) {
		backdrop-filter: blur(3px);
		background-color: rgba(10, 14, 31, 0.5);
	}

	a {
		text-decoration: none;
		font-weight: bold;
	}

	@media screen and (min-width: 1100px) {
		padding: 0 2rem;
	}
}

.navbar-item + .navbar-item {
	margin-left: 1rem;
}

.navbar-group {
	display: flex;
	align-items: center;
	+ .navbar-group {
		margin-left: 1rem;
	}
}

.navbar-title-link {
	display: flex;
	align-items: center;
}

.navbar-logo {
	width: 1.9em;
	height: 1.9em;
	background-color: transparent;
	display: inline-block;
	margin-top: -2px;
	margin-right: 0.5em;
}

.home {
	box-sizing: content-box;
	padding: 3.5rem 0.4rem 0;
	margin: 0 auto;
	max-width: 800px;
	margin: 0 auto;

	@media screen and (min-width: 1100px) {
		padding: 3.5rem 2rem 0;
		max-width: 1100px;
	}
}

.sidebar {
	background-color: #0a0e1f;
	margin-top: 3.5rem;
	padding: 2rem 0.4rem;
	border-bottom: 1px solid #f5f9ff;
	color: #f5f9ff;

	@media screen and (min-width: 800px) {
		position: fixed;
		top: 3.5rem;
		bottom: 0;
		border-bottom: none;
		border-right: 1px solid #f5f9ff;
		overflow-x: hidden;
		overflow-y: auto;
		width: 15rem;
		margin: 0;
		padding: 2rem 1rem;
		text-align: right;
	}

	@media screen and (min-width: 1100px) {
		padding: 3rem 2rem;
		width: 20rem;
	}

	h3 {
		color: #dbb368;
	}

	a {
		text-decoration: none;
	}

	:first-child {
		margin-top: 0;
	}

	:last-child {
		margin-bottom: 0;
	}
}

.sidebar-item {
	margin: 10px 0;
}

.main {
	@media screen and (min-width: 800px) {
		margin-top: 3.5rem;
	}
}

.content {
	margin: 0 auto;
	padding: 2rem 0.4rem;
	> :first-child {
		margin-top: 0;
	}

	> :last-child {
		margin-bottom: 0;
	}

	@media screen and (min-width: 800px) {
		margin-left: 240px;
		padding: 2rem 1rem;
		max-width: 800px;
	}

	@media screen and (min-width: 1100px) {
		margin-left: 320px;
		padding: 3rem 2rem;
		max-width: 1100px;
		> * {
			max-width: 800px;
		}
	}
}

.hero {
	padding: 7em 0;
	display: flex;
	flex-direction: column;
	justify-content: center;

	h1 {
		font-size: 2.5rem;
		margin-bottom: .5rem;
	}

	h2 {
		font-size: 1.5rem;
		margin-bottom: 2rem;
		color: #f5f9ff;
	}

	a {
		font-size: 1.25rem;
		color: #dbb368;
		border: 1px solid #dbb368;
		text-decoration: none;
		margin-right: 1em;
		padding: .5em;
	}
}

.features {
	.feature {
		margin: 1.5em 0;
	}

	h3 {
		color: #dbb368;
	}

	@media screen and (min-width: 1100px) {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;

		.feature {
			flex-basis: 32%;
			margin: 0;
		}
	}
}

pre {
	padding: .8em;
	margin: 0;
	font-size: .9em;
	color: #e3eaf2;
	overflow: auto;
	border: 1px solid #e3eaf2;
	line-height: 1.4;
	tab-size: 2;
	outline: none;
}

code.inline {
	padding: .1em .2em;
	margin: 0;
	font-size: .9em;
	display: inline;
	background: #281f12;
}

.codeblock {
	max-width: 1100px;
}

.playground {
	margin: 1.5em auto;
	display: flex;
	flex-direction: column;
	@media screen and (min-width: 1100px) {
		flex-direction: row;
	}
}

.editable {
	flex: 0 1 auto;
	width: 100%;
	max-width: 900px;
	height: fit-content;
	background: #0a0e1f;
	background: linear-gradient(123deg, #0a0e1f 60%, #000e4f);
	overflow: auto;
	word-wrap: normal;
	/* This is some kind of shit to make the shit not zoom on iOS */
	@supports (-webkit-overflow-scrolling: touch) {
		font-size: 16px;
	}
}

.editable-live {
	@media screen and (min-width: 1100px) {
		width: 61.8%;
	}
}

.preview {
	flex: 0 1 auto;
	position: sticky;
	top: calc(3.5rem + 30px);
	padding: 0;
	border: 1px solid #e3eaf2;
	margin: -1px 0 0 0;
	min-height: 300px;
	background: #0a0e1f;
	background: linear-gradient(123deg, #2b200c, 10%, #0a0e1f);

	@media screen and (min-width: 1100px) {
		min-height: 90%;
		max-height: 350px;
		width: 38.2%;
		margin: 0 0 0 -1px;
	}
}
