@import "~prism-themes/themes/prism-ghcolors.css";

.hero {
	height: 500px;
	flex-grow: 1;
}

.navbar-background {
	background-color: #f6f8fa;
}

.navbar {
	margin: 0 auto;
	max-width: 1100px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar-group {
	display: flex;
}

.navbar-item {
	margin: 0 10px;
}

.navbar-item:first-of-type {
	margin-left: 0;
}

.navbar-item:last-of-type {
	margin-right: 0;
}

.main {
	display: flex;
	flex-wrap: wrap;
	margin: 20px auto;
	max-width: 1100px;
}

.sidebar {
	margin-top: 5px;
	font-size: 3em;
	min-width: 300px;
	flex-grow: 1;
	flex-shrink: 0;
}

.sidebar-item {
	margin: 10px 0;
}

.content {
	min-width: 300px;
	max-width: 800px;
	flex-grow: 999;
}
