@import "~normalize.css/normalize.css";
@import "~highlight.js/styles/mono-blue.css";

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	margin-bottom: 1em;
	padding: 0;
}

h1, h2, h3 {
	font-family: sans-serif;
}

p {
	line-height: 1.4;
	margin-bottom: 1em;
}

img {
	margin: 0 auto 1em;
	max-width: 100%;
}

a {
	color: black;
}

a.current {
	color: #0048ab;
}

code {
	background-color: lightgray;
	border-radius: 0.2em;
	padding: 0.1em 0.2em;
	font-size: 0.8em;
}

.current {
	color: black;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 3.5rem;
	background-color: #fff;
	padding: 0 2rem;
	border-bottom: 1px solid #ccc;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-group {
	display: flex;
}

.navbar-item {
	margin: 0 0.5rem;
}

.navbar-item:first-of-type {
	margin-left: 0;
}

.navbar-item:last-of-type {
	margin-right: 0;
}

.home {
	padding: 3.5rem 0 0;
	margin: 0 auto;
	max-width: 1200px;
}

.hero {
	min-height: 60vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.hero h1 {
	font-size: 2.5rem;
	margin-bottom: 0.5em;
}

.hero h2 {
	font-size: 1.5rem;
}

.main {
	padding: 3.5rem 0 0 300px;
}

.sidebar {
	position: fixed;
	top: 3.5rem;
	left: 0;
	bottom: 0;
	width: 300px;
	padding: 2rem;
	overflow: auto;
	border-right: 1px solid #ccc;
}

.sidebar-item {
	margin: 10px 0;
}

.content {
	max-width: 700px;
	margin: 0 auto;
	padding: 2rem;
}

.features {
	display: flex;
	justify-content: space-between;
}

.feature {
	max-width: 500px;
	margin-right: 20px;
}

.feature:last-of-type {
	margin-right: 0;
}
