/* node_modules/normalize.css/normalize.css */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}

/* node_modules/prism-themes/themes/prism-coldark-dark.css */
code[class*=language-],
pre[class*=language-] {
  color: #e3eaf2;
  background: none;
  font-family:
    Consolas,
    Monaco,
    "Andale Mono",
    "Ubuntu Mono",
    monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
pre[class*=language-]::-moz-selection,
pre[class*=language-] ::-moz-selection,
code[class*=language-]::-moz-selection,
code[class*=language-] ::-moz-selection {
  background: #3c526d;
}
pre[class*=language-]::-moz-selection,
pre[class*=language-] ::-moz-selection,
code[class*=language-]::-moz-selection,
code[class*=language-] ::-moz-selection {
  background: #3c526d;
}
pre[class*=language-]::selection,
pre[class*=language-] ::selection,
code[class*=language-]::selection,
code[class*=language-] ::selection {
  background: #3c526d;
}
pre[class*=language-] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}
:not(pre) > code[class*=language-],
pre[class*=language-] {
  background: #111b27;
}
:not(pre) > code[class*=language-] {
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  white-space: normal;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #8da1b9;
}
.token.punctuation {
  color: #e3eaf2;
}
.token.delimiter.important,
.token.selector .parent,
.token.tag,
.token.tag .token.punctuation {
  color: #66cccc;
}
.token.attr-name,
.token.boolean,
.token.boolean.important,
.token.number,
.token.constant,
.token.selector .token.attribute {
  color: #e6d37a;
}
.token.class-name,
.token.key,
.token.parameter,
.token.property,
.token.property-access,
.token.variable {
  color: #6cb8e6;
}
.token.attr-value,
.token.inserted,
.token.color,
.token.selector .token.value,
.token.string,
.token.string .token.url-link {
  color: #91d076;
}
.token.builtin,
.token.keyword-array,
.token.package,
.token.regex {
  color: #f4adf4;
}
.token.function,
.token.selector .token.class,
.token.selector .token.id {
  color: #c699e3;
}
.token.atrule .token.rule,
.token.combinator,
.token.keyword,
.token.operator,
.token.pseudo-class,
.token.pseudo-element,
.token.selector,
.token.unit {
  color: #e9ae7e;
}
.token.deleted,
.token.important {
  color: #cd6660;
}
.token.keyword-this,
.token.this {
  color: #6cb8e6;
}
.token.important,
.token.keyword-this,
.token.this,
.token.bold {
  font-weight: bold;
}
.token.delimiter.important {
  font-weight: inherit;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
.language-markdown .token.title,
.language-markdown .token.title .token.punctuation {
  color: #6cb8e6;
  font-weight: bold;
}
.language-markdown .token.blockquote.punctuation {
  color: #f4adf4;
}
.language-markdown .token.code {
  color: #66cccc;
}
.language-markdown .token.hr.punctuation {
  color: #6cb8e6;
}
.language-markdown .token.url .token.content {
  color: #91d076;
}
.language-markdown .token.url-link {
  color: #e6d37a;
}
.language-markdown .token.list.punctuation {
  color: #f4adf4;
}
.language-markdown .token.table-header {
  color: #e3eaf2;
}
.language-json .token.operator {
  color: #e3eaf2;
}
.language-scss .token.variable {
  color: #66cccc;
}
.token.token.tab:not(:empty):before,
.token.token.cr:before,
.token.token.lf:before,
.token.token.space:before {
  color: #8da1b9;
}
div.code-toolbar > .toolbar.toolbar > .toolbar-item > a,
div.code-toolbar > .toolbar.toolbar > .toolbar-item > button {
  color: #111b27;
  background: #6cb8e6;
}
div.code-toolbar > .toolbar.toolbar > .toolbar-item > a:hover,
div.code-toolbar > .toolbar.toolbar > .toolbar-item > a:focus,
div.code-toolbar > .toolbar.toolbar > .toolbar-item > button:hover,
div.code-toolbar > .toolbar.toolbar > .toolbar-item > button:focus {
  color: #111b27;
  background: rgba(108, 184, 230, 0.8549);
  text-decoration: none;
}
div.code-toolbar > .toolbar.toolbar > .toolbar-item > span,
div.code-toolbar > .toolbar.toolbar > .toolbar-item > span:hover,
div.code-toolbar > .toolbar.toolbar > .toolbar-item > span:focus {
  color: #111b27;
  background: #8da1b9;
}
.line-highlight.line-highlight {
  background: rgba(60, 82, 109, 0.37255);
  background: linear-gradient(to right, rgba(60, 82, 109, 0.37255) 70%, rgba(60, 82, 109, 0.33333));
}
.line-highlight.line-highlight:before,
.line-highlight.line-highlight[data-end]:after {
  background-color: #8da1b9;
  color: #111b27;
  box-shadow: 0 1px #3c526d;
}
pre[id].linkable-line-numbers.linkable-line-numbers span.line-numbers-rows > span:hover:before {
  background-color: rgba(141, 161, 185, 0.09412);
}
.line-numbers.line-numbers .line-numbers-rows {
  border-right: 1px solid #0b121b;
  background: rgba(11, 18, 27, 0.47843);
}
.line-numbers .line-numbers-rows > span:before {
  color: rgba(141, 161, 185, 0.8549);
}
.rainbow-braces .token.token.punctuation.brace-level-1,
.rainbow-braces .token.token.punctuation.brace-level-5,
.rainbow-braces .token.token.punctuation.brace-level-9 {
  color: #e6d37a;
}
.rainbow-braces .token.token.punctuation.brace-level-2,
.rainbow-braces .token.token.punctuation.brace-level-6,
.rainbow-braces .token.token.punctuation.brace-level-10 {
  color: #f4adf4;
}
.rainbow-braces .token.token.punctuation.brace-level-3,
.rainbow-braces .token.token.punctuation.brace-level-7,
.rainbow-braces .token.token.punctuation.brace-level-11 {
  color: #6cb8e6;
}
.rainbow-braces .token.token.punctuation.brace-level-4,
.rainbow-braces .token.token.punctuation.brace-level-8,
.rainbow-braces .token.token.punctuation.brace-level-12 {
  color: #c699e3;
}
pre.diff-highlight > code .token.token.deleted:not(.prefix),
pre > code.diff-highlight .token.token.deleted:not(.prefix) {
  background-color: rgba(205, 102, 96, 0.12157);
}
pre.diff-highlight > code .token.token.inserted:not(.prefix),
pre > code.diff-highlight .token.token.inserted:not(.prefix) {
  background-color: rgba(145, 208, 118, 0.12157);
}
.command-line .command-line-prompt {
  border-right: 1px solid #0b121b;
}
.command-line .command-line-prompt > span:before {
  color: rgba(141, 161, 185, 0.8549);
}

/* client/index.css */
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #0a0e1f;
  color: #f5f9ff;
  font-family: sans-serif;
}
p {
  line-height: 1.4;
  margin: 1.5em 0;
}
img {
  display: block;
  margin: 0 auto;
  background: #e1e4ea;
  max-width: 100%;
}
@media screen and (min-width: 1100px) {
  img {
    max-width: 900px;
  }
}
::-moz-selection {
  background-color: #9b7735;
}
::selection {
  background-color: #9b7735;
}
::-moz-selection {
  background-color: #9b7735;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 1.4em 0;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none;
}
h1,
h2,
h3 {
  color: #dbb368;
}
blockquote {
  border-left: 2px solid #dbb368;
  margin: 1.5em 0;
  padding: 0 0 0 .8em;
}
blockquote p {
  margin: 0;
}
a {
  color: inherit;
}
a.current {
  color: #dbb368;
}
a.anchor {
  scroll-margin-top: 5em;
  outline: none;
}
a.anchor::before {
  content: "";
  display: inline-block;
  margin-top: -5em;
  padding-top: 5em;
}
li {
  margin: 0 0 1em;
}
content-area {
  display: block;
  display: contents;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3.5rem;
  border-bottom: 1px solid #f5f9ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-y: auto;
  padding: 0 0.4rem;
  z-index: 5;
  background-color: inherit;
}
@supports ((-webkit-backdrop-filter: blur(3px)) or (backdrop-filter: blur(3px))) {
  .navbar {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    background-color: rgba(10, 14, 31, 0.5);
  }
}
.navbar a {
  text-decoration: none;
  font-weight: bold;
}
@media screen and (min-width: 1100px) {
  .navbar {
    padding: 0 2rem;
  }
}
.navbar-item + .navbar-item {
  margin-left: 1rem;
}
.navbar-group {
  display: flex;
  align-items: center;
}
.navbar-group + .navbar-group {
  margin-left: 1rem;
}
.navbar-title-link {
  display: flex;
  align-items: center;
}
.navbar-logo {
  width: 1.9em;
  height: 1.9em;
  background-color: transparent;
  display: inline-block;
  margin-top: -2px;
  margin-right: 0.5em;
}
.home {
  box-sizing: content-box;
  padding: 3.5rem 0.4rem 0;
  margin: 0 auto;
  max-width: 800px;
  margin: 0 auto;
}
@media screen and (min-width: 1100px) {
  .home {
    padding: 3.5rem 2rem 0;
    max-width: 1100px;
  }
}
.sidebar {
  background-color: #0a0e1f;
  margin-top: 3.5rem;
  padding: 2rem 0.4rem;
  border-bottom: 1px solid #f5f9ff;
  color: #f5f9ff;
}
@media screen and (min-width: 800px) {
  .sidebar {
    position: fixed;
    top: 3.5rem;
    bottom: 0;
    border-bottom: none;
    border-right: 1px solid #f5f9ff;
    overflow-x: hidden;
    overflow-y: auto;
    width: 15rem;
    margin: 0;
    padding: 2rem 1rem;
    text-align: right;
  }
}
@media screen and (min-width: 1100px) {
  .sidebar {
    padding: 3rem 2rem;
    width: 20rem;
  }
}
.sidebar h3 {
  color: #dbb368;
}
.sidebar a {
  text-decoration: none;
}
.sidebar :first-child {
  margin-top: 0;
}
.sidebar :last-child {
  margin-bottom: 0;
}
.sidebar-item {
  margin: 10px 0;
}
@media screen and (min-width: 800px) {
  .main {
    margin-top: 3.5rem;
  }
}
.content {
  margin: 0 auto;
  padding: 2rem 0.4rem;
}
.content > :first-child {
  margin-top: 0;
}
.content > :last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 800px) {
  .content {
    margin-left: 240px;
    padding: 2rem 1rem;
    max-width: 800px;
  }
}
@media screen and (min-width: 1100px) {
  .content {
    margin-left: 320px;
    padding: 3rem 2rem;
    max-width: 1100px;
  }
  .content > * {
    max-width: 800px;
  }
}
.footer {
  margin: 8em auto 0;
  padding: 3em 0;
  line-height: 1.4em;
  border-top: 1px solid #f5f9ff;
  color: #bdc2c7;
  text-align: center;
}
.hero {
  padding: 7em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero h1 {
  font-size: 2.5rem;
  margin-bottom: .5rem;
}
.hero h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #f5f9ff;
}
.hero a {
  font-size: 1.25rem;
  color: #dbb368;
  border: 1px solid #dbb368;
  text-decoration: none;
  margin-right: 1em;
  padding: .5em;
}
.features .feature {
  margin: 1.5em 0;
}
.features h3 {
  color: #dbb368;
}
@media screen and (min-width: 1100px) {
  .features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .features .feature {
    flex-basis: 32%;
    margin: 0;
  }
}
pre {
  padding: .8em;
  margin: 0;
  font-size: .9em;
  color: #e3eaf2;
  overflow: auto;
  border: 1px solid #e3eaf2;
  line-height: 1.4;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  outline: none;
}
code.inline {
  padding: .1em .2em;
  margin: 0;
  font-size: .9em;
  display: inline;
  background: #281f12;
}
.codeblock {
  max-width: 1100px;
}
.playground {
  margin: 1.5em auto;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1100px) {
  .playground {
    flex-direction: row;
  }
}
.editable {
  flex: 0 1 auto;
  width: 100%;
  max-width: 900px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #0a0e1f;
  background: linear-gradient(123deg, #0a0e1f 60%, #000e4f);
  overflow: auto;
  word-wrap: normal;
}
@supports (-webkit-overflow-scrolling: touch) {
  .editable {
    font-size: 16px;
  }
}
@media screen and (min-width: 1100px) {
  .editable-live {
    width: 61.8%;
  }
}
.preview {
  flex: 0 1 auto;
  position: -webkit-sticky;
  position: sticky;
  top: calc(3.5rem + 30px);
  padding: 0;
  border: 1px solid #e3eaf2;
  margin: -1px 0 0 0;
  min-height: 300px;
  background: #0a0e1f;
  background: linear-gradient(123deg, #2b200c, 10%, #0a0e1f);
}
@media screen and (min-width: 1100px) {
  .preview {
    min-height: 90%;
    max-height: 350px;
    width: 38.2%;
    margin: 0 0 0 -1px;
  }
}
/*# sourceMappingURL=index-UEEVTAOK.css.map */
